<template name="footer">
    <div class="footer">
        <div class="container">
            <p class="text-footer">A <a href='{{ url 'blumug' }}'>blumug</a> product - Copyright © 2014
                <a href='{{ url 'jbl' }}'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> -
                <a href='{{pathFor 'privacy'}}'>Terms & Privacy</a> -
                <a href="{{ url 'twitter' }}"><i class="fa fa-twitter"></i> Follow us</a> -
                <a href="{{ url 'storeChromeExtension' }}"><i class="fa fa-plug"></i> Google Chrome plugin</a>
            </p>
        </div>
    </div>
</template>
