<template name="landing">

<div class="landing-background-top">
  <div class="container">
    <div class="row">
      <div class="inner">
        <div class="col-md-4">
        <img src='/images/mascotte.png'  width="369px" height="368px">
        </div>
        <div class="col-md-8">
          <div class="text">
            <h1>Bookmarks revisited.</h1>
            <!--<h2>No account yet?</h2>-->
            <!--<a href="{{pathFor 'register'}}" class="register">register</a>-->
            {{> register }}
            <a href="{{pathFor 'login'}}" class="login">or login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row landing-bottom">

    <div class="col-md-6">
      <div class="text">
        <ul>
          <li class="add"><h2><i></i>Bookmark in click</h2></li>
        </ul>
        <p>
        Find something interesting simply add it (chrome and firefox extensions).
        Then you can add tags and groups.
        Georges takes it from here
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img src='/images/recherche_design_thumb.jpg' width="543px" height="303px">
    </div>
  </div>
</div>

  <div class="container">
    <div class="row landing-bottom">

        <div class="col-md-6">
            <div class="text">
                <ul>
                    <li class="search"> <h2><i></i>Retrieve your links</h2></li>
                </ul>

                <p>
                    Stop managing your bookmarks like it’s 1999 again,
                    Georges helps go straight into 2015 using: tag and groups to saved/retrieve lists of links
                    advanced search options to save popular queries
                    bookmarks sorted by popularity to quickly spot your favorite links.
                </p>
            </div>
        </div>


        <div class="col-md-6">
            <img src='/images/edition_de_lien_thumb.jpg' width="543px" height="303px">
        </div>

    </div>
  </div>


  <div class="container">
    <div class="row landing-bottom">
      <div class="col-md-6">
        <div class="text">
            <ul>
                <li class="list"> <h2><i></i>Access content of your bookmarks</h2></li>
              </ul>

            <p>
                In a hurry, don’t bother skim thought an article,
                Georges does it for you and creates automagic TL;DR versions
                Access content of your bookmark in modern display to ease reading
            </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src='/images/lecture-article_thumb.jpg' width="543px" height="303px">
      </div>
    </div>
  </div>


</template>