<template name="footer">
    <div class="footer">
        <div class="container">
            <p class="text-footer">A <a href='http://blumug.com'>blumug</a> product - Copyright © 2014 <a
                    href='http://jbl42.com'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> - <a
                    href='{{pathFor 'privacy'}}'>Terms & Privacy</a> - <a href="https://twitter.com/georgesdotio"><i class="fa fa-twitter"></i> Follow us</a>
            </p>
        </div>
    </div>
</template>


<template name="layout">

    {{> sideMenu }}

    {{> header}}
    <div class="container-fluid">
        {{> errors}}
        <div id="main">
            {{> yield}}
        </div>
    </div>

    {{> footer }}
</template>


<template name="layoutLanding">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>


<template name="layoutLogin">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>


<template name="layoutRecovery">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>
