<template name="layout">
  <div class="container-fluid">
      {{> header}}
      {{> errors}}
      <div id="main">
          {{> yield}}
      </div>
  </div>

  <div class="footer">
    <div class="container">
      <p class="text-footer">A <a href='http://blumug.com'> blumug</a> product - Copyright © 2014 <a href='http://jbl42.com'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> - <a href='{{pathFor 'privacy'}}'>Terms & Privacy</a></p>
    </div>
  </div>
</template>


<template name="layoutLanding">
  <div class="container">
      {{> headerLanding }}
  </div>
      {{> yield}}

  <div class="footer">
    <div class="container">
      <p class="text-footer">A <a href='http://blumug.com'> blumug</a> product - Copyright © 2014 <a href='http://jbl42.com'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> - <a href='{{pathFor 'privacy'}}'>Terms & Privacy</a></p>
    </div>
  </div>
</template>


<template name="layoutLogin">
  <div class="container">
      {{> headerLanding }}
  </div>
      {{> yield}}

  <div class="footer">
    <div class="container">
      <p class="text-footer">A <a href='http://blumug.com'> blumug</a> product - Copyright © 2014 <a href='http://jbl42.com'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> - <a href='{{pathFor 'privacy'}}'>Terms & Privacy</a></p>
    </div>
  </div>
</template>


<template name="layoutRecovery">
  <div class="container">
      {{> headerLanding }}
  </div>
      {{> yield}}

  <div class="footer">
    <div class="container">
      <p class="text-footer">Copyright © 2014 <a href='http://jbl42.com'>JBL42 SAS</a> - <a href="{{pathFor 'about'}}">About</a> - <a href='{{pathFor 'privacy'}}'>Terms & Privacy</a></p>
    </div>
  </div>
</template>
