
<template name="layout">

    {{> sideMenu }}

    {{> header}}
    <div class="container-fluid">
        {{> errors}}
        <div id="main">
            {{> yield}}
        </div>
    </div>

    {{> footer }}
</template>


<template name="layoutLanding">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>

<template name="layoutLogin">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>

<template name="layoutFullscreen">
    {{> sideMenu }}
    {{> header}}
    {{> yield}}
    {{> footer }}
</template>



<template name="layoutRecovery">
    <div class="container">
        {{> headerLanding }}
    </div>
    {{> yield}}

    {{> footer }}
</template>
