<template name="passwordRecovery">
{{#if resetPassword}}
<form id="new-password" class="main form well" action="action">
    <div class="form-group">
        <label class="control-label" for="email">Password</label>
        <div class="controls">
            <input name="password" id="new-password-password" type="password" value="" placeholder="New password" class="form-control" required/>
        </div>
    </div>
    <input type="submit" value="Change Password" />
</form>
{{else}}
<form id="recovery-form" class="main form well" action="action">
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
            <input name="email" id="recovery-email" type="email" value="" placeholder="Recovery email" class="form-control" required/>
        </div>
    </div>
    <input type="submit" value="Send Reset Instructions" />
</form>
{{/if}}
</template>