<template name="bookmarkSetting">
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#groups" aria-controls="groups" role="tab" data-toggle="tab">Groups</a>
      </li>
      <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Import / Export</a>
      </li>
      <li role="presentation"><a href="#historical" aria-controls="historical" role="tab" data-toggle="tab">Notification History</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="groups">
        <div class="groups">
          {{> groupList}}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="data">
        <div class="form-group">
          <label class="control-label" for="url">Import</label>
          <div class="controls">
            <input type="file" id="import" class="import" name="import" value="Import Favorites" multiple/>
            <progress name="progressBar" class="progressBar" id="progressBar"></progress>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="tags">Export</label>
          <div class="controls">
            <a href="{{pathFor 'export'}}" target="_blank">Export</a>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="historical">
        <div class="notifications">
          <ul>
            {{#each listNotifications}}
            <li class="notification">
              {{> notificationItem}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
