<template name="groupItem">
<h4>
<a>{{ name }}</a>
<small>created by {{ nameCreator }}</small>
{{#if isCreator}}
<input class="deleteGroup btn btn-warning" style="float: right" value="Delete"/>
{{/if}}
</h4>
<small>
<ul id="navlist">
    {{#each allMembers}}
        {{> member}}
    {{/each}}
    {{#if isCreator}}
    <li><input type="text" class="addMember email" placeholder="Search..." value=""></li>
    {{/if}}
</ul>
</small>
</template>
<template name="member">
<li>
    {{ name }}
    {{#if isMember}}
    <a href=""><i class="fa fa-times btn-delete-member"></i></a>
    {{/if}}
</li>
</template>