<template name="about">
  <div class="row">
    <div class="col-lg-12 page">
      <h1>42favs <small>Manage your bookmarks with ease.</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 page">
      <h2>Current features:</h2>
      <ul>
        <li>Tag support</li>
        <li>Instant search on url, tags or title</li>
        <li>Google chrome extension</li>
      </ul>

      <h2>Roadmap:</h2>
      <ul>
        <li>Summary extraction</li>
        <li>Readable content extraction</li>
        <li>Auto-tagging</li>
        <li>Import / Export</li>
      </ul>
    </div>
  </div>
</template>