<template name="bookmarksList">

    <div class="row options-bar">

        <button type="button"  class="btn btn-default switch-view-list"><i class="fa fa-bars"></i></button>
        <button type="button"  class="btn btn-default active switch-view-cards"><i class="fa fa-th"></i></button>
    </div>

    <div class="row bookmarksList">
        {{> favorite}}
        {{> sort}}
    </div>

    {{#if isEmpty}}
        <div class="row downloadChromeExtension">
            <div class="pane">
                <img src="/images/googleChromeExtension.jpg"/>
                    <p class="title">Georges for Chrome</p>
                    <p class="text">Install the Google chrome extension to save your bookmarks in a single click.</p>
                <button type="button" class="btn btn-danger">Install</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    {{/if}}



        <div class="row  bookmarksList">
        <div class="bookmarks">
            {{#each bookmarks}}
                {{> bookmarkItem}}
            {{/each}}
        </div>
    </div>

    <div class="row spinner-container">

        {{#if nextPath}}
            <div class="load-more">
                <a href="{{nextPath}}">Load more</a>
            </div>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>