<template name="bookmarksList">

    <div class="row options-bar">

        <button type="button"  class="btn btn-default switch-view-list"><i class="fa fa-bars"></i></button>
        <button type="button"  class="btn btn-default active switch-view-cards"><i class="fa fa-th"></i></button>
    </div>

    <div class="row bookmarksList">
        {{> favorite}}
        {{> sort}}
    </div>

    <div class="row  bookmarksList">
        <div class="bookmarks">
            {{#each bookmarks}}
                {{> bookmarkItem}}
            {{else}}
                <p>You have no bookmark yet</p>
            {{/each}}
        </div>
    </div>

    <div class="row spinner-container">

        {{#if nextPath}}
            <div class="load-more">
                <a href="{{nextPath}}">Load more</a>
            </div>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>