/* CSS declarations go here */
body {
  padding-top: 60px;

  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.unvisible
{
  visibility: hidden;
}

.textLayer div {
    padding-top:5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
.textLayer div:hover {
    text-decoration: underline;
    background-color: rgba(140,140,140, 0.5);
    border-radius:5px;
    cursor: pointer;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.2s;

}

.document-item {
}

.search-bar {
    margin-top:20px;
}

.navbar-jbl42 {
    background-color: #2c3e50;
}

.navbar-jbl42 a {
    color: white;
} 

.navbar-jbl42 .nav > li > a:hover,
.navbar-jbl42 .nav > li > a:focus {
    text-decoration: none;
    background-color: #34495e;
}

.panel-collapse {
    background-color: #f5f5f5;
}

/*
html body {
    background-color: #eee;
}
*/
.bookmark {
    background-color: #ffffff;
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: rgb(207, 207, 216) solid 1px;
    border-radius: 2px;
    margin-bottom: 3px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.bookmark:hover {
    background: #eee;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
/* ###### loginButtons ##### */

#login-other-options a {
    color: black;
}

#login-dropdown-list.open a.dropdown-toggle {
    background: black;
}
/*#login-email {
    color: #208FEA;
}
#login-password {
    color: #208FEA;
}
*//* ######  ##### */

div.bookmark-content {
    min-height: 44px;
}

div.url {
    font-size:20px;
    margin-bottom:0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

div.tags {
    margin-top:6px;
    margin-bottom:4px;
}
div.tags a{
    font-size:12px;
}

div.actions {
    float: right;
    margin-top:12px;
}

h4.modal-title {
    border-bottom: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 8px 15px 0;
}

.container .text-footer {
  margin: 24px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* load more */
.load-more {
  margin-top:12px;
  height:48px;
  text-align: center;
  background-color: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
  border: rgb(207, 207, 216) solid 1px;
  border-radius: 2px;
  margin-bottom: 12px;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  cursor: pointer;
}

.load-more:hover {
    text-decoration: underline;
    background-color: rgba(140,140,140, 0.5);
    border-radius:5px;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.2s;  
}

.load-more a {
  line-height:48px;
  display:block;
}
