<template name="bookmarkView">
<div class="view-bookmark-page">
    <div class="edit-header-background"></div>
    <div class="row edit-header">
        <div class="col-md-2 back">
            <a href="/"><i></i></a>
        </div>
        <div class="col-md-8 title">
            <img src="{{favicon}}" onError="this.src = '/default_icon.png'" class="favicon">
            <a href="{{ url }}" target="_blank">{{ domain }}</a>
        </div>
        <div class="col-md-2 edit-toolbar">
            <a class="edit" href="{{pathFor 'bookmarkPage'}}"><i></i></a>
            <a href='#' class="delete btnDelete"><i></i></a>
            <a href='#' class="refreshView"><i></i>Refresh</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title">
            {{#if title}}
            <h1><a href='{{url}}' target='_blank'>{{title}}</a></h1>
            <h2><a href='{{url}}' target='_blank'>{{url}}</a></h2>
            {{ else }}
            <h2><a href='{{url}}' target='_blank'>{{url}}</a></h2>
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="summary" class="summary">
                {{{summary}}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="view" id="view">
                {{{readable}}}
            </div>
        </div>
    </div>
</div>
</template>