<template name="bookmarkView">

<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">{{ url }}</li>
    </ol>  
  </div>
</div>


<div class="row">
<div class="col-md-12">
<div class="resume" id="resume">
    <button class="btn btn-default refreshView pull-right">
    <i id="nuage" class="fa fa-newspaper-o"> Regenerate</i>
    </button>
    <div class="titleView">
        {{#if title}}
        <h1><a href='{{url}}' target='_blank'>{{title}}</a></h1>
        {{ else }}
        <h1><a href='{{url}}' target='_blank'>{{url}}</a></h1>
        {{/if}}
    </div>
</div>
<div id="summary" class="summary">
    {{{summary}}}
</div>
<div class="view" id="view">
    {{{readable}}}
</div>
</div>
</div>
</template>