<template name="notifications">
<a id='notifications' href="#" class="dropdown-toggle btn-notifications" data-toggle="dropdown">
Notifications
{{#if notificationCount}}
<span class="badge badge-inverse">{{notificationCount}}</span>
{{/if}}
<b class="caret"></b>
</a>
<ul class="notifications dropdown-menu">
    {{#if notificationCount}}
    {{#each notifications}}
    <li class="notification">
        {{> notificationItem}}
    </li>
    {{/each}}
    {{else}}
    <li><span>No notification</span></li>
    {{/if}}
</ul>
</template>

<template name="notificationItem">
  {{#if isInvitation}}
  <p>{{ message }}</p>
  <input type="button" class="btn accept" value="Accept">
  <input type="button" class="btn refuse" value="Decline">
  {{else}}
  {{ message }}
  {{/if}}
</template>